<br>
<br>
<br>



<div class="container">
    Search:<input type="text" ><br>     
  <br>

  <div class="row">




    <div class="col-sm-3" style="margin: 1rem;" ">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/images/nature" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Shopname</h5>
          <p class="card-text">Description</p>
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b> Male Dresses:</b></li>
          <li class="list-group-item"></li>
        </ul>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b> Female Dresses:</b></li>
          <li class="list-group-item"></li>
        </ul>

        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b> Expertise:</b></li>
          <li class="list-group-item"></li>
        </ul>
        <div class="card-body">
          <a class="card-link" (click)="tailorDetailPage()">Read more....</a>
        </div>
      </div>
    </div>



  </div>
